<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>webStudy04_Mybatis</display-name>
	  <welcome-file-list>
<!--     <welcome-file>index.html</welcome-file> -->
<!--     <welcome-file>index.htm</welcome-file> -->
    <welcome-file>index.jsp</welcome-file>
<!--     <welcome-file>default.html</welcome-file> -->
<!--     <welcome-file>default.htm</welcome-file> -->
<!--     <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  
  <context-param>
  	<param-name>param1</param-name>
  	<param-value>paramValue1</param-value>
  </context-param>
  
  <context-param>
  	<param-name>contentFolder</param-name>
  	<param-value>d:/contents/</param-value>
  </context-param>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>kr.or.ddit.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>AuthenticationFilter</filter-name>
  	<filter-class>kr.or.ddit.filter.auth.AuthenticationFilter</filter-class>
  	<init-param>
  		<param-name>securedResourceInfo</param-name>
  		<param-value>kr.or.ddit.auth.securedResources</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>AuthenticationFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>AuthorizationFilter</filter-name>
  	<filter-class>kr.or.ddit.filter.auth.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthorizationFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>FileUploadCheckFilter</filter-name>
  	<filter-class>kr.or.ddit.filter.FileUploadCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FileUploadCheckFilter</filter-name>
	<url-pattern>*.do</url-pattern>  
  </filter-mapping>
  
  <servlet>
    <servlet-name>DescriptionServlet</servlet-name>
    <servlet-class>kr.or.ddit.web.DescriptionServlet</servlet-class>
    <init-param>
    	<param-name>testParam</param-name>
    	<param-value>testParamValue</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DescriptionServlet</servlet-name>
    <url-pattern>/desc</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImagesFormServlet</servlet-name>
  	<servlet-class>kr.or.ddit.web.ImagesFormServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ImagesFormServlet</servlet-name>
  	<url-pattern>/imageForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CalculateServlet</servlet-name>
  	<servlet-class>kr.or.ddit.web.CalculateServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CalculateServlet</servlet-name>
  	<url-pattern>/calculate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MusicLyricsServlet </servlet-name>
  	<servlet-class>kr.or.ddit.web.MusicLyricsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MusicLyricsServlet</servlet-name>
  	<url-pattern>/musicLyrics</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FileUploadServlet_3_0</servlet-name>
  	<servlet-class>kr.or.ddit.web.upload.FileUploadServlet_3_0</servlet-class>
  	<multipart-config>
  		<location>D:/temp</location>
  		<max-file-size>10240000</max-file-size>
  		<max-request-size>102400000</max-request-size>
  		<file-size-threshold>10000</file-size-threshold>
  	</multipart-config>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUploadServlet_3_0</servlet-name>
  	<url-pattern>/upload_3</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FileUploadServlert_2_5</servlet-name>
  	<servlet-class>kr.or.ddit.web.upload.FileUploadServlert_2_5</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUploadServlert_2_5</servlet-name>
  	<url-pattern>/upload_2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<servlet-class>kr.or.ddit.mvc.FrontController</servlet-class>
  	<init-param>
  		<param-name>mappingInfo</param-name>
  		<param-value>kr.or.ddit.URIHandlerMapping</param-value>
  	</init-param>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
</web-app>